body 
    color: #fff
@mixin flex-center-between 
    display: flex
    align-items: center
    justify-content: space-between
@mixin flex-center
    display: flex
    align-items: center
@mixin flex-center-start
    display: flex
    align-items: center
    justify-content: flex-start
@mixin flex-center-column 
    display: flex
    align-items: center
    justify-content: flex-start
    flex-direction: column
.wrapper 
    box-sizing: border-box
    width: 978px
    margin: 0 auto
.header 
    background-color: #00a0e3
    background-image: linear-gradient(to right, #e23760 0%, #f85980 100%)
    &__top 
        @include flex-center-between
        &_item 
            box-sizing: border-box
            &:hover 
                cursor: pointer
    &-schedule 
        @include flex-center-between
        font-family: "Intro Regular"
        font-size: 12px
        text-transform: uppercase
        letter-spacing: 0.36px
        background-color: rgba(189,48,82,0.6)        
        padding: 15px 20px 16px 60px
        line-height: 1.667
        text-align: center

        position: relative
        &:hover 
            text-decoration: underline
        &::before 
            position: absolute
            content: ''
            background-image: url(../../img/header/calendar.png)
            background-position: center
            background-repeat: no-repeat
            width: 27px
            height: 29px
            left: 38px
            top: 34px
            margin-left: -23.5px
            margin-top: -24.5px
        &::after 
            position: absolute
            content: ''
            background-image: url(../../img/header/mark.png)
            background-position: center
            background-repeat: no-repeat
            width: 16px
            height: 16px
            left: 45px
            top: 14px
            margin-left: -8px
            margin-top: -8px

    &-phone 
        color: #ffa3b9
        font-family: "Intro Regular"
        font-size: 14px
        span
            color: #f3f9fa
            font-family: "Intro Bold"
            font-size: 20px
            line-height: 20px
    &-call 
        @include flex-center-between
        font-family: "Intro Regular"
        font-size: 12px
        text-transform: uppercase
        letter-spacing: 0.36px
        line-height: 1.667
        text-align: center
        background-color: rgba(189,48,82,0.6)        
        padding: 15px 35px 16px 76px
        position: relative
        &:hover 
            text-decoration: underline
        &::before 
            position: absolute
            content: ''
            background-image: url(../../img/header/call.png)
            background-position: center
            background-repeat: no-repeat
            width: 32px
            height: 32px
            left: 44px
            top: 23px
            margin-left: -16px
            margin-top: -16px
.main 
    @include flex-center-between
    margin-top: 37px    
    margin-bottom: 36px
    &__logo 
        width: 199px
        height: 106px
        background-image: url(../../img/header/main-logo.png)
        background-position: center
        background-repeat: no-repeat
        margin-right: 72px
        flex-basis: 20.4%
.nav 
    display: flex
    align-items: center
    justify-content: space-evenly
    flex-wrap: wrap    
    margin: 0
    padding: 0
    flex-basis: 70.5%
    &__item 
        list-style: none
        position: relative 
        flex: 0 1 auto
        max-width: 110px
        // width: 100%
        &:hover .nav__icon
            top: -20px
            background: #e23861   
    &__link 
        @include flex-center-column
        color: #5b5b5b
        font-family: "Intro Regular"
        font-size: 12px
        line-height: 20px
        text-transform: uppercase
        text-decoration: none
        &:hover 
            color: #e34168
            &:before
                width: 41px
                height: 8px
                margin-left: -20.5px
        &:before 
            transition: all 0.2s ease
            position: absolute
            top: 58px
            left: 50%
            width: 50px
            height: 10px
            margin-left: -25px
            border-radius: 50%
            background: linear-gradient(to bottom, #ebebeb 0%, #ddd 100%)
            content: ''
    &__icon 
        transition: all 0.3s 
        display: block
        z-index: 2
        position: relative
        top: 0
        width: 60px
        height: 60px
        margin: auto
        margin-bottom: 15px
        border-radius: 50%
        background: #1bbdce
        line-height: 60px
        text-align: center
        img 
            vertical-align: middle
.nav__item+.nav__item 
    margin-left: 60px